@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --background: hsl(30, 54%, 90%);
    --background-card: hsl(0, 0%, 100%);
    --bold: hsl(24, 5%, 18%);
    --letters: hsl(30, 10%, 34%);
    --lines: hsl(30, 18%, 87%);
    --rose-section: hsl(330, 100%, 98%);
    --rose-subtitles: hsl(332, 51%, 32%);
    --brown-letters: hsl(14, 45%, 36%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--letters);
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container {
    margin: 12vh 0;
    max-width: 90vh;
    border-radius: 1rem;
    background-color: var(--background-card);
}

.omelette {
    padding: 2rem 2rem 0rem 2rem;
}

.omelette img{
    width: 100%;
    border-radius: 1rem;
}

.card-info {
    padding: 0 2rem 2rem 2rem;
}

.title {
    margin-top: 20px;
    color: var(--bold);
    font-family: "Young Serif", serif;
    font-size: 2.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
}

.subtitle {
    margin: 1.25rem 0;
    font-style: oblique;
    line-height: 1.25rem;
}

.preparation-section {
    padding: 28px;
    border-radius: 16px;
    background-color: var(--rose-section);
}

.preparation-section h2 {
    color: var(--rose-subtitles);
    font-weight: 700;
}

.preparation-section ul {
    list-style: none;
    padding: 0;
}

.preparation-section li::before {
    content: "\2022";
    padding-right: 20px;
    font-size: 24px;
    color: var(--rose-subtitles);
}

.preparation-section li {
    margin: 4px;
}

.highlight {
    font-weight: 600;
    color: var(--bold);
}

.ingredients-section {
    margin-top: 32px;
}

.ingredients-section h2,
.instructions-section h2,
.nutrition-section h2 {
    font-family: "Young Serif", serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: var(--brown-letters);
}

.ingredients-section ul {
    list-style: none;
    padding: 0;
    margin: 12px 8px;
}

.ingredients-section li::before {
    content: "\2022";
    padding-right: 20px;
    font-size: 24px;
    color: var(--brown-letters);
}

.ingredients-section li {
    margin: 4px;
}

.line {
    margin-top: 2.25rem;
    border-top: 1px solid var(--lines);
}

/* Instructions style */

.instructions-section {
    margin-top: 32px;
}

.instructions-section ol {
    padding: 0;
}

.instructions-section ol li {
    list-style-type: none;
    counter-increment: lista;
    position: relative;
    padding-left: 48px; /* Asegura que haya espacio para el número */
}

.instructions-section ol li::before {
    width: 20px; /* Ajusta según el espacio que quieras dar al número */
    left: 0; /* Posiciona el número al inicio */
    top: 0;
    position: absolute;
    content: counter(lista) ".";
    color: var(--brown-letters);
    text-align: right; /* Alinea el número a la derecha */
    font-weight: 600;

}

.instructions-section li {
    margin: 12px 0;
}

/* Nutrition style */

.nutrition-section {
    margin-top: 32px;
}

.nutrition-section p{
    margin: 12px 0;
}

/* Table */

.nutrition-section table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.nutrition-section tr {
    display: table-row;
    border-bottom: 1px solid var(--lines);
}

.nutrition-section td,
.nutrition-section th {
    display: table-cell;
    padding: 12px 1rem;
    text-align: left;
}

.nutrition-section th {
    font-weight: 600;
    color: var(--brown-letters);
}

footer{
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .omelette {
        padding: 0;
    }

    .omelette img {
        max-width: 100%;
        border-radius: 0;
    }

    footer {
        background-color: white;
    }
}